body, html {
  height: 100%;
  position: relative;
  font-family: $font-300;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

[v-cloak] {
  display: none
}

.visible-xs {
  display: none !important;
  @media (max-width: 420px) {
	display: block !important;
  }
}
.visible-md {
  display: none !important;
  @media (max-width: 769px) {
	display: block !important;
  }
}
.hidden-xs {
  display: block !important;
  @media (max-width: 420px) {
	display: none !important;
  }
}
.hidden-sm {
  display: block !important;
  @media (max-width: 768px) {
	display: none !important;
  }
}
.error {
  color: $color_red;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  font-family: $font_300;
  margin-bottom: 0;
  &.full {
	text-align: center;
	@media (max-width: 768px) {
	  width: 100%;
	  display: block;
	  text-align: center;
	  margin-top: 20px;
	}
  }
}
.checkboxTerms {
  margin-top: 3px;
  label {
	font-size: 11px !important;
	padding-left: 10px;
	position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: -6px;
  }
  input {
    cursor: pointer;
    width: 12px !important;
    height: 12px !important;
    display: inline-block !important;
    vertical-align: top;

  }
  .error{
    margin-top: 0;
  }
}
@media (max-width: 420px) {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
  }
}
