@font-face {
  font-family: 'Conv_MuseoSans_300';
  src: url('../fonts/MuseoSans-300.eot');
  src: local('☺'),
  url('../fonts/Museosans-300.woff') format('woff'),
  url('../fonts/MuseoSans-300.ttf') format('truetype'),
  url('../fonts/MuseoSans-300.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Conv_MuseoSans_100';
  src: url('../fonts/MuseoSans-100.eot');
  src: local('☺'), url('../fonts/MuseoSans-100.woff') format('woff'), url('../fonts/MuseoSans-100.ttf') format('truetype'), url('../fonts/MuseoSans-100.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Conv_MuseoSans_700';
  src: url('../fonts/MuseoSans_700.eot');
  src: local('☺'), url('../fonts/MuseoSans_700.woff') format('woff'), url('../fonts/MuseoSans_700.ttf') format('truetype'), url('../fonts/MuseoSans_700.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Conv_MuseoSans_500';
  src: url('../fonts/MuseoSans_500.eot');
  src: local('☺'), url('../fonts/Museosans_500.woff') format('woff'), url('../fonts/Museosans_500.ttf') format('truetype'), url('../fonts/MuseoSans_500.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


