body {
  font-family: $font_100;
  color: $color_base;
  font-weight: normal;
}


select::-ms-expand {
  display: none !important;
}


hr {
  border-top: 1px solid $color_light;
  opacity: .5;
}


select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
}

input:required {
  box-shadow: none;
}

.grecaptcha-badge {
  bottom: 74px !important;
}

.form__row {
  &.captchaContent {
    justify-content: space-between;
    @media (max-width: 1024px) {
      justify-content: center !important;
      flex-direction: column;
    }
  }
}

.typeAccesories {
  margin-top: 20px;

  .form__typeproduct {
    margin-top: 0;

    input {
      &:checked {
        + label {
          padding: 0 !important;
        }
      }
    }

    label {
      width: 243px;
      padding: 0;
      height: inherit;
      @media (max-width: 1024px) {
        width: 288px;
        justify-content: center;
        align-items: center;
      }

      .normal-tag {
        flex-direction: column;
        padding: 8px 0px 15px 0px;

        .content-left {
          justify-content: center;
          width: 100%;
          max-width: 100%;
          display: flex;

          .bottom {
            img {
              margin: 10px 0;
              height: 122px;
              width: inherit;
            }
          }

          @media (max-width: 1024px) {
            height: inherit;
          }
        }

        .content-center {
          font-size: 18px;
          text-align: center;
          padding: 3px 0px;
          border-top: 1px solid #D7D7D7;
          border-bottom: 1px solid #D7D7D7;

          p {
            font-size: 20px;
            font-family: $font_100;
          }

          span {
            font-family: $font_500;
          }
        }

        .content-right {
          padding: 0px 10px;
          justify-content: space-between;
          align-items: center;

          .content-counter {
            width: 137px;

            .less, .more {
              width: 55px;
            }

            position: inherit;
          }

          .price {
            width: 100%;
          }
        }
      }
    }
  }
}


:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

.back {
  position: absolute;
  left: 0;
  padding-left: 15px;
  top: 0px;
  padding-top: 11px;
  z-index: 2;
}

.btn, a {
  outline: none;
  text-decoration: none;
}


.colorGray {
  background: #f7f7f7 !important;
  height: auto !important;
}

#nprogress {
  .bar {
    height: 3px !important;
    background: $color_green !important;
  }

  .spinner {
    display: none !important;
  }
}

.optional {
  top: -15px !important;
}

.mgb-0 {
  margin-bottom: 0 !important;
}

.mgb-10 {
  margin-bottom: 15px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}


.mgt-10 {
  margin-top: 15px !important;
}

.mgt-0 {
  margin-top: 0 !important;
}

.mgt-50 {
  margin-top: 50px !important;
}

.mgt-40 {
  margin-top: 40px !important;
}

.no-mgr {
  margin-right: 0 !important;
}

.mgt-30 {
  margin-top: 30px !important;
}

.center-terms {
  justify-content: center !important;
}

.fnt-100 {
  font-family: $font_100 !important;
}

.toolTipModel {
  label {
    font-size: 14px !important;
    margin-top: -14px;
  }

  .purchase_text {
    display: block;
    margin-top: 20px;
    font-family: $font_300;
    color: #3A3A3A;
    font-size: 17px;
  }

  .tooltip {
    float: right;
    margin-right: 38px;
    margin-top: -8px;

    .tooltiptext {
      background-color: gray;
      background-image: none;
      color: #fff;
      top: -50%;
      background-color: $color_light;
      left: -124px;
      padding: 20px;
      margin-top: -90px;
      height: 45px;
      font-size: 14px;
      width: 255px;

      &:before {
        bottom: -14px;
        left: 130px;
        transform: rotate(-90deg);
        border-right: 10px solid #b4b4b4;
      }

      .text {
        margin-top: 10px;

        p {
          margin: 0;
        }
      }
    }
  }
}

.content-iframe {
  width: 100%;
  height: auto;
  box-sizing: border-box;

  iframe {
    display: block;
    margin: 0 auto;
    width: 720px;
    height: 2000px;
    @media screen and (max-width: 1024px) {
      margin-top: 10px;
      width: 450px;
      padding: 0 30px;
      height: 2900px;
    }
    @media screen and (max-width: 480px) {
      width: 300px;
    }
    @media screen and (max-width: 320px) {
      width: 250px;
    }
    @media screen and (max-width: 320px) {
      padding-left: 30px;
      height: 3500px;
    }
  }
}

.divider {
  display: block;
  height: 1px;
  background-color: $color_boxes;
  border: none;
  margin: 0;
}

.disabled {
  opacity: .65;
  pointer-events: none;
  cursor: not-allowed;
}

.no-shadow {
  box-shadow: none !important;

  .menu {
    #close {
      display: inline-block !important;
    }

    #open {
      display: none !important;
    }
  }
}

.visible-xs {
  display: none !important;
  @media (max-width: 1024px) {
    display: block !important;
  }
}

.visible-sm {
  display: none !important;
  @media (max-width: 1024px) {
    display: block !important;
  }
}

.visible-xs-flex {
  display: none !important;
  @media (max-width: 1024px) {
    display: flex !important;
  }
}

.hidden-md {
  display: block !important;
  @media (max-width: 1200px) {
    display: none !important;
  }
}

.hidden-xs {
  display: block !important;
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.hidden-sm {
  display: block !important;
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.hidden-xs-flex {
  display: flex !important;
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.hidden {
  height: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

[disabled] {
  background-color: transparent;
  -webkit-text-fill-color: $color_gray;
}

//Buttons
.btn--colored {
  background-color: #e64442;
  border: none;
  color: #fff;
  font-family: Conv_MuseoSans_700, Times, serif;
  //box-shadow: 0 4px 4px rgba(251, 51, 72, .25);
  border-radius: 4px;
  width: 100%;
  max-width: 290px;
  text-align: center;
  padding: 15px 17px;
  margin: 10px auto;
  text-decoration: none;
  cursor: pointer;
  @media (max-width: 1024px) {
    max-width: 280px;
    width: auto;
  }

  &:hover {
		background: #e64442;
		box-shadow: 0px 6px 8px rgba(251, 51, 72, 0.32);
  }
  &.disabled {
    background-color: #dadada;
    box-shadow: none;
  }
}
button.mercadopago-button {
  font-family: Conv_MuseoSans_700, Times, serif !important;
  max-width: 290px !important;
  font-size: 16px !important;
  max-width: 290px !important;
  margin: 30px auto 10px;
  width: 100%;
  background-color: #e64442 !important;
  padding: 2px 0px 3px 0px !important;

  @media (max-width: 1024px) {
    max-width: 280px !important;
    width: auto !important;
    padding: 3px 28px 2px 28px !important;
  }
  &:hover {
    background: #e64442;
  }

  &.disabled {
    background-color: #dadada !important;
  }

}

.bank-deals-link{
  display: none !important;
}

.btn--transparent {
  border: 1px solid #fb3348;
  box-sizing: border-box;
  background-color: $color_white;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-family: Conv_MuseoSans_700, Times, serif;
  color: #fb3348;
  cursor: pointer;

  &:hover {
    background: rgba(251, 51, 72, 0.08);
    border: 1px solid $color_red;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &-red {
    min-width: 154px;
    height: 48px;
    font-size: 16px;
  }

  &-green {
    border-color: $color_green;
    border-width: 2px;
    height: 37px;
    font-size: 14px;
    padding: 5px;
    max-width: 152px !important;
    color: $color_green;

    &:hover {
      background: rgba(73, 202, 192, 0.10);
      border: 2px solid $color_green;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  @media (max-width: 1024px) {
    width: 280px !important;
    text-align: center
  }
}

.error {
  color: $color_red;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  font-family: $font_300;
  margin-bottom: 0;

  &.full {
    text-align: center;
    @media (max-width: 1024px) {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  }
}

//Forms
.groupText {
  position: relative;

  &.isblank {
    .select-text {
      color: $color_lines;
    }
  }

  &.is-danger {
    .bar, .select-bar {
      &:before {
        background-color: $color_red;
      }

      &:after {
        background-color: $color_red;
      }
    }

    label {
      color: $color_red !important;
    }

    input, select {
      border-color: $color_red;
    }

    &.select {
      &:after {
        border-top: 6px solid $color_red;
      }

      .select-text {
        color: $color_red;
      }
    }
  }

  input {
    font-size: 16px;
    font-family: $font_300;
    padding: 10px 0 10px 0;
    display: block;
    color: #3A3A3A;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color_lines;
    border-radius: 0;
  }

  input:focus {
    outline: none;
  }

  /* LABEL ======================================= */
  label {
    color: $color_lines;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: -1px;
    top: 10px;
    border-radius: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    @media (max-width: 360px) {
      font-size: 13px !important;
    }
  }

  .spin {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  /* active state */
  input:focus ~ label {
    top: -15px;
    font-size: 14px;
    color: $color_green;
  }

  input:valid ~ label {
    opacity: 1;
    top: -15px;
    font-size: 14px;
  }

  input.optional:valid ~ label {
    top: 10px;
    font-size: 16px;
    @media (max-width: 1024px) {
      font-size: 14px;
      top: 10px;
    }
  }

  input.optional:focus ~ label {
    top: -15px;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
  }

  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $color_green;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: $color_green;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: $color_green;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: $color_green;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}

select[value="null"] {
  color: red !important;
}

.select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  flex-grow: 1;

  &::-ms-expand {
    display: none;
  }

  .select-text {
    position: relative;
    font-family: $font_300;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    color: #3A3A3A;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $color_lines;

    @media (max-width: 360px) {
      font-size: 13px !important;
      height: 39px;

    }
  }

  /* Remove focus */
  .select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
  &.contact{
    width: 62px;
    margin-right: 10px;
      select{
        width: 100%;
        border-bottom: 0;
        @media (max-width: 768px) {
          height: 39px;
        }
      }
      &:after {
        top: 18px;
      }
    @media (max-width: 768px) {
        width: 19%;
        max-width: 20%;
        margin-right: 1%;
    }
  }
  /* Use custom arrow */
  &:after {
    position: absolute;
    top: 36px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid hsla(0, 0%, 61%, .51);
    pointer-events: none;
  }

  /* LABEL ======================================= */
  .select-label {
    color: $color_lines;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    left: -1px;
    transition: 0.2s ease all;
    top: 0px;
    font-size: 14px;
  }

  /* active state */
  .select-text:focus ~ .select-label {
    color: $color_green;
  }

  /* BOTTOM BARS ================================= */
  .select-bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .select-bar:before, .select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $color_green;
    transition: 0.2s ease all;
  }

  .select-bar:before {
    left: 50%;
  }

  .select-bar:after {
    right: 50%;
  }

  /* active state */
  .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}

.checkboxTerms {
  label {
    font-size: 14px;
    color: $color_light;
    font-family: $font_300;
    padding-left: 40px;
    position: relative;
    display: inline-block;

    &.corresponsal {
      .box {
        img {
          top: 10px;
          display: block;
        }
      }
    }

    a {
      text-decoration: none;
      color: $color_blue;
    }

    .box {
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 4px;
      width: 25px;
      height: 25px;
      display: inline-block;
      padding: 6px 5px;
      position: absolute;
      left: 0;
      top: -5px;
      @media (max-width: 480px) {
        top: 3px;
      }
      @media (max-width: 330px) {
        top: 5px;
      }

      img {
        transition: 0.5s ease all;
        opacity: 0;
      }

      &.bonus {
        top: -5px;
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 25px;
    height: 25px;

    &:checked {
      + label {
        .box {
          border-color: $color_green;
        }

        img {
          opacity: 1;
        }
      }
    }
  }
}

.groupRadio {
  position: relative;
  display: block;

  &:first-child {
    margin-bottom: 13px;
  }

  label {
    font-size: 14px;
    color: $color_light;
    font-family: $font_300;
    position: relative;
    vertical-align: middle;

    p {
      display: inline-block;
      vertical-align: middle;
      margin: 7px 0;
      font-size: 16px;
      color: $color_base;
      @media (max-width: 380px) {
        font-size: 14px;
      }
    }

    .bonus {
      margin-top: -8px;
      display: inline-block;
      @media (max-width: 980px) {
        width: 80%;
        margin-top: 0;
      }
      @media (max-width: 1024px) {
        width: 80%;
        margin-top: -8px;
      }

      img {
        float: left;
        margin-right: 10px;
        @media (max-width: 1020px) {
          width: 20%;
        }
        @media (max-width: 380px) {
          width: 60px;
        }
        @media (max-width: 340px) {
          width: 57px;
        }
      }

      .text {
        float: left;
        @media (max-width: 1080px) {
          width: 75%;
        }
        @media (max-width: 380px) {
          width: 70%;
        }

        p {
          display: block;
          @media (max-width: 1080px) {
            margin-top: 0;
          }
          @media (max-width: 340px) {
            margin-bottom: 0;
            font-size: 13px;
          }
        }

        span {
          font-size: 14px;
          display: block;
          @media (max-width: 380px) {
            font-size: 11px;
          }
        }
      }
    }

    .round {
      width: 28px;
      height: 28px;
      border-radius: 50px;
      border: 1px solid $color_light;
      margin-right: 17px;
      display: inline-block;
      vertical-align: top;
      @media (max-width: 480px) {
        width: 20px;
        height: 20px;
      }

      .circle {
        width: 14px;
        opacity: 0;
        display: block;
        height: 14px;
        border-radius: 50px;
        background-color: $color_red;
        margin: 7px;
        transition: 0.5s ease all;
        @media (max-width: 480px) {
          width: 12px;
          margin: 4px;
          height: 12px;
        }
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;

    &:checked {
      + label {
        .round {
          border-color: $color_red;

          .circle {
            opacity: 1;
          }
        }
      }
    }
  }

  &.threeRadio {
    margin-bottom: 13px;
  }

  .linkIbk {
    color: #00a94f;
  }

  .ibk_rb {
    @media (max-width: 420px) {
      margin-left: 39px;
      margin-top: -18px;
    }
  }
}

//Modals
.modal-container {
  .modal-body {
    h3 {
      font-size: 16px;
      margin-top: 25px;
      font-family: $font_300, Times, serif;
      font-weight: normal;
      text-align: center;
    }
  }
}

//Types Forms
.form {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 35px;

    &--terms {
      margin-bottom: 20px;
    }

    &--left {
      justify-content: flex-start;
      @media (max-width: 1024px) {
        justify-content: center;
      }
    }

    &--right {
      align-items: flex-end !important;
      @media (max-width: 1024px) {
        justify-content: right;
      }

      .edit {
        color: $color_light;
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 5px;
        }
      }
    }

    &--center {
      justify-content: center;
    }

    &--three {
      align-items: flex-end;
      justify-content: flex-end;

      &.equal {
        justify-content: flex-start;
        align-items: flex-start !important;
        @media (max-width: 1024px) {
          flex-direction: column;
        }

        .groupText {
          width: 165px !important;
          @media (max-width: 825px) {
            width: 162px !important;
          }
          @media (max-width: 1024px) {
            width: 100% !important;
          }

          &:nth-child(2) {
            margin-bottom: 35px;
          }
        }
      }

      .groupText {
        &:first-child {
          width: 120px;
          flex-grow: inherit;
          @media (max-width: 830px) {
            width: 110px;
          }
          @media (max-width: 1024px) {
            width: 100%;
            margin-bottom: 35px;
          }
        }

        &:last-child {
          width: 120px;
          @media (max-width: 1024px) {
            width: 36%;
          }
        }

        &:nth-child(2) {
          width: 247px;
          margin: 0 4%;
          @media (max-width: 830px) {
            width: 220px;
          }
          @media (max-width: 1024px) {
            width: 60%;
            margin-left: 0;
            margin-right: 4%;
          }
        }
      }
    }

    &--two {
      align-items: flex-start;
      justify-content: flex-start;

      &.inverted {
        .groupText {
          &--2 {
            margin-bottom: 0 !important;
            margin-right: 4% !important;
          }

          &--1 {
            margin-right: 0 !important;
          }
        }
      }

      .groupText {
        flex-grow: 5;
        width: 48%;
        @media (max-width: 1024px) {
          width: 100%;
        }

        &:first-child {
          margin-right: 4% !important;
          @media (max-width: 1024px) {
            margin-right: 0;
            margin-bottom: 35px;
          }
        }

        &--1 {
          flex-grow: inherit;
          width: 120px;
          @media (max-width: 1024px) {
            width: 25%;
            margin-right: 4% !important;
            margin-bottom: 0 !important;
          }
        }

        &--2 {
          flex-grow: 1;
          @media (max-width: 1024px) {
            width: 55%;
          }
        }
      }

      .checkboxTerms {
        width: 100%;
        max-width: 255px;

        label {
          position: relative !important;
          top: auto !important;
          max-width: 255px;
          display: block;
          color: $color_base !important;

          b {
            font-family: $font_500;
            font-weight: normal;
          }

          .box {
            left: 0;
            top: 3px;
          }
        }
      }
      &.contact{
        width: 38%;
        @media (max-width: 768px) {
            width: 80%;
        }
      }
      &.end{
        @media (max-width: 768px) {
          align-items: flex-start;
        }
        .contact{
          @media (max-width: 768px) {
            height: 57px;
          }
          .groupText{
            @media (max-width: 768px) {
              margin-bottom: 0px !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }

    &--one {
      align-items: flex-start;

      .groupText {
        width: 50%;
        max-width: 254px;
        flex-grow: 5;
        margin-right: 10px;
        @media (max-width: 1024px) {
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }
      }
    }

    &--oneBig {
      align-items: flex-start;

      .groupText {
        width: 50%;
        max-width: 387px;
        flex-grow: 5;
        margin-right: 10px;
        @media (max-width: 1024px) {
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }
      }
    }

    &--full {
      align-items: flex-start;
      flex-direction: column;

      &.center {
        align-items: center !important;
        justify-content: center;

        .error {
          text-align: center;
        }

        .btn {
          margin-right: auto;
          margin-left: auto;
          display: block;
          max-width: 120px;
        }
      }

      .groupText {
        width: 100%;
        margin-right: 0px;
      }
    }

    &--combined {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;

      .label--combined {
        text-align: left;
        font-size: 14px;
        color: $color_light;
        width: 100%;
      }

      .content {
        display: flex;
        width: 100%;
        text-align: left;
        align-items: flex-end;
        justify-content: space-between;

        .select {
          width: 25%;
          align-self: flex-end;

          select {
            align-self: flex-end;
            line-height: 14px;
            height: 39px;
          }

          .dash {
            background-color: #cccccc;
            width: 1px;
            height: 22px;
            position: absolute;
            right: 0;
            top: 10px;
          }

          &:after {
            top: 18px;
          }
        }

        .groupText {
          width: 70%;

          input:focus ~ label, input:valid ~ label {
            display: none;
          }

          &.disabled {
            opacity: 1;

            label {
              display: none;
            }
          }

          input {
            padding-left: 13px;

            &:disabled {
              color: $color_light;

              + label {
                display: none;
              }
            }
          }

          label {
            padding-left: 13px;
            top: 13px;
          }
        }
      }
    }

    &--no-mgb {
      margin-bottom: 0;

      .groupText {
        width: 47%;
        @media (max-width: 1024px) {
          margin-bottom: 0 !important;
        }

        &:first-child {
          margin-right: 4%;
        }
      }
    }

    &--radioOptions {
      margin-bottom: 18px;

      &.dues {
        .groupRadio {
          label {
            padding: 10px;
            height: 66px;

            span {
              font-size: 14px;
              color: $color_light;
            }
          }

          input {
            &:checked {
              + label {
                padding: 9px;
              }
            }
          }
        }
      }

      .groupRadio {
        margin-bottom: 0;
        flex-grow: 1;
        flex-basis: 0;

        label {
          border: 1px solid $color_lines;
          border-radius: 3px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 25px 3px 10px;
          height: 80px;

          p {
            text-align: center;
            margin-bottom: 0;
            margin-top: 14px;
            font-size: 15px;
            @media (max-width: 1024px) {
              font-size: 12px;
            }
          }

          img {
            @media (max-width: 1024px) {
              width: 100%;
            }
          }

          span {
            font-size: 11px;
            margin-top: 5px;
            color: $color_base;
            @media (max-width: 1024px) {
              font-size: 9px;
            }
          }

          h6 {
            color: $color_green;
            font-family: $font_700;
            font-size: 18px;
            margin: 0;
            text-align: center;
          }

          .check {
            display: none;
          }
        }

        input {
          width: 100%;
          left: 0;
          top: 0;
          height: 100%;

          &:checked {
            + label {
              border: 2px solid $color_green;
              padding: 24px 2px 9px;
              height: 80px;

              .check {
                position: absolute;
                right: -6px;
                top: -6px;
                display: block;
                width: 14px;
                height: 14px;
                background: $color_green;
                border-radius: 25px;
                text-align: center;

                img {
                  float: left;
                  width: 8px;
                  margin-top: 4px;
                  margin-left: 3px;
                }
              }
            }
          }
        }

        &.mid {
          margin: 0 18px 0;
          @media (max-width: 1024px) {
            margin: 0 5px 0;
          }
        }

        &.first {
          margin-right: 18px;
        }

        &.credid {
          .first {
            height: 29px;
          }

          img {
            max-width: 185px;
          }

          p {
            font-size: 12px;
            margin-top: 8px;
            margin-bottom: 4px
          }
        }

        &.bbva {
          p {
            font-size: 12px;
          }
        }
      }
    }

    .btn--transparent {
      width: 100%;
      max-width: 260px;
      margin: 20px auto;
      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }

    &--msg {
      .alert {
        width: 100%;
        background-color: #E8EEF5 !important;

        .text {
          p {
            color: $color_bonus;
            font-size: 14px;
            font-family: $font-500;
          }
        }
      }
    }
  }

  &__typeDirection {
    position: relative;
    margin-right: 15px;
    margin: 0px 15px;
    max-width: 220px;
    width: 100%;
    @media (max-width: 1024px) {
      margin-bottom: 10px;
    }

    &[disabled] {
      pointer-events: none;

      input {
        &:checked {
          + label {
            -webkit-text-fill-color: $color_green !important;
          }
        }
      }
    }

    input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 56px;
      z-index: 1;
      cursor: pointer;
      display: block;

      &:checked {
        + label {
          border: 2px solid $color_green;
          color: $color_green;
          font-family: $font-500;
          padding: 15px !important;
          box-sizing: border-box;

          .check {
            position: absolute;
            right: -6px;
            top: -6px;
            width: 18px;
            height: 18px;
            background: $color_green;
            border-radius: 25px;
            text-align: center;
            display: block;


            img {
              float: left;
              width: 10px;
              margin-top: 5px;
              margin-left: 4px;
            }
          }
        }
      }
    }


    label {
      border: 1px solid rgba(155, 155, 155, 0.51);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_lines;
      text-align: center;
      padding: 15px;
      font-size: 14px;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;
      max-width: 220px;
      height: 56px;
      position: relative;

      @media (max-width: 480px) {
        width: 100%;
      }

      .check {
        display: none;
      }

      .circle {
        display: none;
      }
    }
  }

  &__otherAdressContent {
    margin-top: 15px;
    width: 100%;
  }

  &__businessAdressContent {
    display: flex;
    width: 100%;
    flex-direction: column;


    hr {
      width: 100%;
      margin-bottom: 20px;
    }

    &__content {
      display: flex;
    }

    .title {
      color: #878787;
      font-size: 16px;
      flex: 1 1 0;
      width: 20%;
      @media (max-width: 480px) {
        flex-direction: column;
        padding-right: 10%;
      }
    }

    .data {
      flex: 1 1 0;
      color: $color_base;
      font-size: 16px;
      width: 50%;
      color: $color_base;
      @media (max-width: 480px) {
        flex-direction: column;
      }
    }
  }
}

//Tootip
.tooltip {
  position: absolute;
  margin-left: 5px;
  right: 0;
  display: inline-block;
  border-radius: 50px;

  .ask {
    border-radius: 50px;
    background-color: $color_light;
    width: 16px;
    text-align: center;
    color: $color_white;
    font-family: $font_300;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 1px 0;
    height: 16px;
  }

  .tooltiptext {
    transition: 0.2s ease all;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px #C1C1C1;
    background-repeat: no-repeat;
    -webkit-background-position: center center;
    background-position: center center;
    border-radius: 8px;
    width: 330px;
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: -6px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 333px;
    margin-top: -170px;
    top: 50%;

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      left: -9px;
      content: "";
      border-right: 10px solid $color_white;
    }

    .text {
      margin-top: 40px;

      h5 {
        color: $color_red;
        font-size: 18px;
        font-family: $font_700;
        margin-bottom: 0;
        margin-top: 0;
      }

      h6 {
        margin-top: 5px;
        margin-bottom: 0;
        color: $color_red;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: $font_300;
      }
    }
  }

  &:hover {
    .tooltiptext {
      opacity: 1;
      visibility: visible;
    }
  }
}


.modal-open {
  filter: blur(4px);
}

.modal-open-ovh {
  overflow: hidden;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: auto;
}

.modal {
  background-color: #fefefe;
}


.fix-select {
  @media (max-width: 380px) {
    flex-direction: column !important;
  }

  .groupText {
    @media (max-width: 380px) {
      width: 100% !important;
    }

    &:first-child {
      @media (max-width: 380px) {
        margin-bottom: 35px !important;
      }
    }
  }
}

.pagoefectivo {

  .container {
    display: block;
    margin: 0 auto 30px !important;
    max-width: 2000px !important;
    background-color: #ffffff;
  }

  .head {
    height: 113px;
    background-color: #ffffff;
    @media (max-width: 1024px) {
      height: 80px;
    }
    @media (max-width: 670px) {
      height: 50px;
    }

    img {
      float: left;
      width: 137px;
      margin-top: 30px;
      @media (max-width: 1024px) {
        width: auto;
        margin-top: 20px;
      }
      @media (max-width: 670px) {
        margin-top: 10px;
        display: block;
        margin: 10px auto;
        float: none;
      }
    }

    .container {
      overflow: hidden;
    }
  }

  .body {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 15px;
    @media (max-width: 1024px) {
      width: 100%;
    }

    .container {
      padding: 0 20px !important;
      background-color: #fff !important;
      @media (max-width: 1024px) {
        padding-top: 20px !important;
      }
      @media screen and (max-width: 320px) {
        padding: 0;
      }
    }
  }
}

.groupTextAutocomplete {
  width: 50%;
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  margin-right: 10px;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }
}

.v-select {
  width: 100%;

  .dropdown-toggle {
    position: relative;
    font-family: "Conv_MuseoSans_300", Times, serif;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    color: #bbb7b7;
    padding: 5px 10px 5px 0 !important;
    font-size: 16px !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #bbb7b7 !important;

    .vs__selected-options {
      input {
        padding-left: 0;
      }

      padding-left: 0;

      .selected-tag {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .vs__actions {
      .open-indicator {
        display: none;
      }

      .clear {
        display: none;
      }
    }
  }
}

.title-general {
  color: $color_red;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: $font_500;
  margin-bottom: 23px;
  text-align: left;
  @media (max-width: 1024px) {
    display: none;
  }
}

.component-box {
  background-color: $color_white;
  padding: 40px 30px;
  margin-bottom: 22px;
  box-shadow: 1px 1px 10px rgba(171, 171, 171, 0.5);
  @media (max-width: 1024px) {
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.typeChecking {
    .form__row--two {


      .groupText {
        width: 47%;

        .check {
          background-color: $color_green;
          right: 0px;
          width: 28px;
          height: 28px;
          border-radius: 25px;
          top: 5px;
          position: absolute;

          img {
            margin: 9px 7px;
            width: 15px;
          }
        }

        /*&:first-child {
          margin-right: 3%;
        }

        &:last-child {
          margin-left: 3%;
        }*/
      }
    }

    .data-content {
      .form__row {
        &:last-child {
          margin-bottom: 0;
        }

        .groupText {
          &.full {
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }

      .form__row--full {
        .btn {
          max-width: 190px;
          padding: 5px;
          height: 42px;
          display: block;
          margin-top: 40px;
          line-height: 32px;
          margin-bottom: 0;
          @media (max-width: 1024px) {
            margin-top: 10px;
            text-align: center;
            align-items: center;
          }
        }
      }
    }
  }

  &.typeProducts {
    padding-bottom: 15px;


    .typeProducts {
      margin-bottom: 0;
      overflow: hidden;
    }

    .corresponsalCheck {
      display: flex;
      align-items: flex-start;
      padding-top: 5px;
      margin: 0;
      flex-direction: column;
      font-family: $font_100;
      color: $color_base;
      font-size: 16px;


      div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 8px;
        @media (max-width: 1024px) {
          font-size: 15px;
        }
      }

      img {
        margin-right: 10px;
        margin-top: -2px;

      }

      b {
        font-family: $font_300;
      }

      a {
        margin-left: 10px;
        text-decoration: underline;
        color: #009B3A;
        font-size: 14px;
        font-family: $font_300;
      }
    }
  }
}

.efective {
  &.groupRadio {
    label {
      padding: 13px 3px !important;
    }
  }
}

.credid {
  &.groupRadio {
    label {
      padding: 13px 3px !important;

      p {
        font-size: 16px !important;
        margin-top: 0 !important;
        font-family: $font_300 !important;
        color: $color_base;
        @media (max-width: 1024px) {
          margin-top: 15px !important;
          font-size: 14px !important;
        }
        @media (max-width: 480px) {
          margin-top: 5px !important;
          font-size: 13px !important;
        }

      }

      img {
        max-width: 185px !important;
        margin-top: 8px;
      }
    }
  }
}

.errorDocMessage {
  margin-top: -30px;
  margin-bottom: 50px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  margin-top: -2px;
  padding: 0;
  display: none;
  position: absolute;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  left: 0;
  justify-content: center;
  width: 100%;

  &.active {
    @media (min-width: 1024px) {
      background-color: white;
      flex-direction: row;
      top: 57px;
      border: 1px solid #efefef;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
    }
    @media (max-width: 1024px) {
      display: contents;
    }
  }

  li {
    margin: 0;
    padding: 9px 5px;
    border: 1px solid #efefef;
    background-color: white;
    @media (max-width: 1200px) {
      width: 95%;
      margin: 0;
      border-bottom: 1px solid #ededed;
      border-right: 0;
      height: 42px;
    }
    @media (max-width: 420px) {
      width: 91%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4rem 1rem;
      width: 153px;
      border-bottom: none !important;
      @media (max-width: 1200px) {
        padding: 0.4rem 1rem;
        border: none;
        justify-content: flex-start;
      }
    }

    .image {
      height: 65px;
      padding-right: 9%;
    }

    .logo {
      height: 23px;
    }
  }

  @media (max-width: 1200px) {
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: inherit;
  }
}

.dropdown-submenu {
  button {
    height: 23px;
    line-height: 14px;
    border: none;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid $color_green;
      @media (max-width: 1024px) {
        border: 0;
      }
    }

    @media (max-width: 1024px) {
      height: 65px !important;
      padding: 16px 15px 9px 15px !important;
    }
  }

  &:hover {
    .dropdown-menu {
      @media (min-width: 1024px) {
        display: block;
        background-color: white;
        display: flex;
        flex-direction: row;
        top: 88px;
        border-top: none;
        border: 1px solid #efefef;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
      }
      @media (max-width: 1024px) {
        display: contents;
      }
    }
  }

  @media (min-width: 1024px) {
    display: contents;
  }
}
