//Sections
@import "../includes/header";
@import "../includes/footer";

.users{
  padding: 1.5rem 0rem;
  &__content{
    padding: 1.2rem 0rem;
    &--list{
      padding: 0.6rem 0rem;
    }
    &--button{
      color: $color-secondary;
      background-color: transparent;
      border: none;
      text-decoration: underline;
      &:hover, &:focus{
        color: $color-secondary;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        font-weight: bold;
        outline: none;
        box-shadow: none;
      }
    }
  }
}