//Sections
@import "../includes/header";
@import "../includes/footer";
.timer {
  background-color: #000000;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;

  h4 {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 13px;
      padding: 0px 25px;
    }
  }
}
.banner {
  .container {
    padding: 0 15px;
    max-width: 1300px;
    margin: 88px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 480px;
    background-size: 100% 100%;
    @media(max-width: 1440px) {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #ff4240;
    }
    @media (max-width: 1024px) {
      height: 380px;
      min-height: auto;
      margin: 72px auto 0 !important;
    }
    @media (max-width: 768px) {
      height: 480px;
      background-color: rgba(135, 206, 235, 0.12941176470588237);
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 70px;
    }
    @media (max-width: 550px) {
      height: 270px;
    }
    @media (max-width: 375px) {
      height: 220px;
      margin-top: 70px;
    }
    @media (max-width: 350px) {
      height: 240px;
      margin-top: 60px !important;
    }
    @media (max-width: 320px) {
      height: 220px;
    }

  }

  &__title {
    font-family: $font_700;
    font-size: 56px;
    line-height: 70px;
    margin: 0 auto 0;
    max-width: 680px;
    overflow: hidden;
    color: $color_red;
    @media (max-width: 1080px) {
      font-size: 45px;
      line-height: 45px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 30px;
    }
    @media (max-width: 360px) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  &__subtitle {
    font-size: 24px;
    margin-top: 50px;
    font-family: $font_300;
    font-weight: normal;
    @media (max-width: 1080px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      margin-top: 15px;
      font-size: 16px;
    }
    @media (max-width: 360px) {
      font-size: 15px;
    }

    b {
      font-family: $font_700;
    }
  }
  .VueCarousel-navigation {
    max-width: 1330px;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    .VueCarousel-navigation-prev, .VueCarousel-navigation-next {
      margin: 0;
      width: 34px;
      height: 33px;
      background-repeat: no-repeat;
      outline: none;
      transform: rotate(0deg);
      background-position: 2px 1px;
      @media (max-width: 1024px) {
        padding: 0 !important;
      }
    }
    .VueCarousel-navigation-prev {
      position: absolute;
      top: -14px;
    }
    .VueCarousel-navigation-next {
      transform: rotate(180deg);
      transform-origin: 95% 27%;
      right: 30px;
    }

    button {
      outline: none !important;
    }
  }
  .VueCarousel-dot-container{
    bottom: -18px;
    position: absolute;
    right: 0;
    left: 0;
  }
}

.properties {
  text-align: center;
  margin-bottom: 5em;
  @media (max-width: 768px) {
    margin-bottom: 2em;
  }

  .container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
  }

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    justify-content: center;
  }

  &__item {
    display: flex;
    margin: 0 30px;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      margin: 0 10px;
    }
  }

  &__icon {
    @media (max-width: 768px) {
      width: 40%;
    }

    img {
      max-width: 90px;
      height: 56px;
      width: 100%;
    }
  }

  &__text {
    margin-left: 30px;
    @media (max-width: 768px) {
      margin-left: 0;
    }

    p {
      display: block;
      font-size: 18px;
      font-family: $font_300;
      margin: 0;
      text-align: left;
      @media (max-width: 1080px) {
        font-size: 16px;
      }
      @media (max-width: 768px) {
        font-size: 13px;
        text-align: center;
      }
      @media (max-width: 320px) {
        font-size: 11px;
      }

      b {
        font-family: $font_700;
        font-weight: normal;
      }
    }

    span {
      display: block;
      text-align: left;
      font-family: $font_300;
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
      }
      @media (max-width: 320px) {
        font-size: 11px;
      }
    }

    .red {
      font-size: 12px;
      @media (max-width: 414px) {
        font-size: 9px;
      }
    }

    a {
      display: block;
      text-align: left;
      font-size: 14px;
      font-family: $font_300;
      color: $color_green;
      @media (max-width: 768px) {
        font-size: 11px;
        text-align: center;
        margin-top: 10px;
      }
      @media (max-width: 320px) {
        margin-top: 0;
      }
    }
  }
}

.products {
  background: #FAFAFA;
  padding: 1.5rem 0rem;
  .container {
    margin: 0 auto;
    max-width: 1230px;
  }

  &__title {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    text-align: center;
    display: block;
    font-size: 32px;
    font-family: $font_500;
    font-weight: normal;
    color: $color_red;

    span {
      font-family: $font_700;
      color: $color_red;
    }

    @media (max-width: 768px) {
      font-size: 19px;
    }
    @media (max-width: 375px) {
      font-size: 19px;
      padding: 0px 14px;
    }
  }

  &__items {
    display: flex;
    margin-bottom: 37px;
    justify-content: space-evenly;
    @supports (-ms-ime-align:auto) {
      justify-content: space-around;
    }
    @media (max-width: 1024px) {
      width: 87%;
      margin: 0 auto;
      justify-content: space-around;
    }

    .tabs {
      height: 32px;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;

      a {
        display: flex;
        margin: 0 10px;
        -webkit-box-align: center;
        padding: 0.58rem 0rem;
        flex: 1 1 auto;
        margin: 0 1px;
        justify-content: center;
        font-size: 21px;
        font-weight: bold;
        max-width: 147px;
        width: 33.33%;
        background-color: $color_red;
        color: $color_white;
        font-family: "Conv_MuseoSans_500", Times, serif;
        font-weight: 100;

        &.active {
          background-color: #F1F2F2;
          -webkit-box-align: center;
          color: $color_base;
          font-size: 21px;
        }
      }
    }

    .content {
      padding: 0px 30px;
      @media (max-width: 1366px) {
        padding: 0px 8px;
      }
      @media (max-width: 768px) {
        height: inherit;
      }
      .box_container_product {
        border-radius: 8px;
        position: relative;
        max-width: 199px;
        width: 100%;
        margin: 10px 0px;
        padding: 1rem 1.5rem;
        margin: 10px 0px;

        .product__image {
          position: relative;

          .product__header {
            margin: 10px 0px;
          }
        }

        .btn--transparent {
          background-color: $color_red;
          color: $color_white;

          &:hover {
            color: $color_white;
          }
        }

        @media (max-width: 1280px) {
          padding: 20px 11px;
        }
        @media (max-width: 375px) {
          padding: 16px 0px;
          border-radius: 0;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        @media (max-width: 1080px) {
          margin-right: 0;
        }
      }

      &:last-child {
        .content {
          .product__image {
            .posjr {
              @media (max-width: 1080px) {
                width: 170px;
              }
            }
          }
        }
      }

      &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 29px 0px 22px 0px;
      }

      .content {
        .right {
          width: 100%;
          max-width: 427px;
          margin: 0 auto;
          @media (max-width: 768px) {
            max-width: inherit;
          }

          .btn {
            max-width: 199px;
            width: 100%;
            padding: 14px 10px 10px;
            justify-content: center;
            min-height: 48px;
            text-align: center;
            align-items: center;
            border: none;
            @media (max-width: 768px) {
              font-size: 15px;
            }
            @media (max-width: 360px) {
              font-size: 13px;
              padding: 14px 0px 10px;
            }

            b {
              font-family: $font_500;
            }

            &--main {
              min-height: 42px;
              width: 199px !important;
              display: flex;
              padding: 0;
              font-size: 16px;
              margin: 0.6rem auto;
            }

            &--bank {
              display: flex;
              min-width: 187px;
              width: 100%;
              max-height: 48px;
              padding: 0;
              align-items: center;
              font-size: 13px;
            }
            &--knowmore{
              font-size: 16px;
              text-decoration: underline;
              text-align: center;
              color: $color_red;
              font-family: $font_500;
              max-width: inherit;
              width: auto;
              margin: 0 auto;
            }
          }

          .mobileDash {
            margin: 27px 0 24px;
            border: none;
            border-bottom: 1px solid $color_light;
            width: 100%;
            @media (max-width: 768px) {
              width: 100%;
              max-width: 300px;
              margin: 0px auto 20px;
            }
          }

          .product__complete__responsive {
            padding: 0;

            .add {
              font-size: 14px;
              margin: 5px 0px 0px 0px;
            }

            .interbank {
              .price {
                .sign {
                  @media (max-width: 768px) {
                    color: $color_interbank;
                  }
                }

                .number {
                  span {
                    @media (max-width: 768px) {
                      color: $color_interbank;
                    }
                  }
                }
              }
            }

            .bonus {
              width: 324px;
              margin: 0 auto;
              text-align: center;
              padding: 0;

              @media (max-width: 768px) {
                width: 100%;
                justify-content: center;
              }

              .btn {
                background-color: #f9da2d;
                color: white;
                padding: 0;
                box-shadow: 0px 4px 4px rgba(249, 218, 45, 0.25);
              }

              .arrows {
                font-size: 18px;
                padding-left: 5px;

                @media (max-width: 320px) {
                  font-size: 16px;
                }
              }

              &--small {
                width: 100%;

                &-pts {
                  display: flex;
                  justify-content: center;
                  @media (max-width: 768px) {
                    width: 90%;
                  }
                }

              }
            }

            @media (max-width: 768px) {
              border-radius: 0px;
              box-sizing: border-box;
            }
            @media (max-width: 320px) {
              width: 100%;
              margin: 0 auto;
            }
          }
        }
        display: flex;
        @media (max-width: 768px) {
          flex-direction: column;
          padding: 0;
        }
        &.center_tabs {
          align-items: center;
        }
      }

      &__image {
        @media (max-width: 768px) {
          display: flex;
          margin-right: 0;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .aditional {
          text-align: center;
          margin-top: 10px;
          font-size: 11px;
          @media (max-width: 768px) {
            width: 135px;
            font-size: 11px;
            margin-top: 10px;
          }
        }

        img {
          &.nameImage {
            @media (max-width: 1080px) {
              width: auto;
            }
            @media (max-width: 768px) {
              width: 68px !important;

            }
          }
        }

        .wrapperImage {
          text-align: center;
          position: relative;
          width: 100px;
          //height: 169px;
          margin: 0 auto;

          img.product_image_general {
            width: 100%;
            height: 185px;
          }

          .product__logo {
            display: inline-block !important;
            padding-left: 13px;
            position: absolute;
            bottom: 0;
            .logo{
              img{
                height: 46px;
              }
            }
          }
          .content_circle{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -68px;
            bottom: 0;
            .benefit_main{
              height: 87px;
              width: 87px;
              border-radius: 100%;
              background: #FFFFFF;
              -webkit-box-shadow: 1px 1px 8px #C9C8C8;
              box-shadow: 1px 1px 8px #C9C8C8;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0.3rem 0rem;
              img{
                height: 50px;
              }
              p{
                color: $color_red;
                font-size: 9px;
                line-height: 10px;
                margin: 4px 5px;
                font-family: $font_500;
              }
            }
          }

          @media (max-width: 768px) {
            height: inherit;
          }

        }

        .product__logo {
          text-align: center;
          padding: 25px 0px 17px 0px;
          .logo{
            img{
              height: 46px;
            }
          }
        }
      }

      &__text {
        font-size: 18px;
        font-family: $font_500;
        display: block;
        text-align: left;
        padding: 20px 20px 20px 0;
        @media (max-width: 1080px) {
          font-size: 16px;
        }
        @media (max-width: 768px) {
          text-align: center;
          margin-top: 34px;
          font-size: 18px;
          margin-bottom: 20px;
          padding: 20px;
        }
      }

      &__properties {
        margin-bottom: 32px;
        padding: 0px 7px;
        @media (max-width: 1080px) {
          margin-bottom: 0;
        }
        @media (max-width: 768px) {
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }

        .property {
          display: flex;
          justify-content: left;
          align-items: center;
          margin-bottom: 20px;

          .icon {
            margin-right: 15px;
          }

          .text {
            margin: 0;
            font-size: 16px;
            font-family: $font_300;
            color: $color_base;
            font-style: normal;
            font-weight: normal;
            @media (max-width: 1080px) {
              font-size: 14px;
            }
            @media (max-width: 768px) {
              font-size: 16px;
              font-family: $font_300;
            }
          }
        }
      }

      &__header {
        justify-content: center;
        @media (max-width: 768px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 0;
        }

        .slogan {
          padding-top: 5px;
          color: $color_green;
          font-family: $font_300;
          font-size: 17px;
          text-align: center;
          padding-left: 0px;
          padding-right: 0px;
          height: 41px;
          @media (max-width: 1080px) {
            font-size: 17px;
          }
          @media (max-width: 768px) {
            border: none;
            font-size: 18px;
            font-family: $font_100;
            text-align: center;
          }
        }

        .logo {
          img {
            @media (max-width: 768px) {
              width: 46px;
            }
          }
        }
      }

      &__price {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;

        &-new {
          flex-direction: column;
          align-items: flex-start;
          &.md{
            @media (max-width: 420px) {
                display: none;
            }
          }
          &.xs{
            display: none;
            margin: 1rem 0rem;
            max-width: 100%;
            @media (max-width: 420px) {
                display: block;
            }
          }
        }

        @media (max-width: 768px) {
          width: 100%;
          max-width: 300px;
          margin: auto;
          padding: 0;
        }
        @media (max-width: 360px) {
          padding: 0;
        }

        &--mgt20 {
          margin-top: 17px;
        }

        .before {
          position: absolute;
          top: 5px;
          width: 120px;
          left: 0;
          &.home{
            right: 0;
            width: inherit;
            left: inherit;
          }
          @media (max-width: 1080px) {
            top: 10px;
          }

          p {
            font-size: 16px;
            font-family: $font_100;
            color: $color_light;
            margin-top: 0;
            font-weight: normal;
            margin-bottom: 0;
            text-align: left;
            @media (max-width: 1080px) {
              font-size: 13px;
            }
            @media (max-width: 768px) {
              font-size: 11px;
              text-align: left;
            }

            .tached {
              font-size: 18px;
              font-family: $font_100;
              text-decoration: line-through;
              @media (max-width: 1080px) {
                font-size: 13px;
              }
              @media (max-width: 768px) {
                font-size: 13px;
              }
            }
          }
        }

        .price {
          color: $color_red;
          height: 76px;
          position: relative;
          align-items: center;
          display: flex;
          justify-content: space-between;
          &.home{
            width: 100%;
            align-items: flex-end;
          }
          .box {
            display: flex;
            align-items: flex-end;
            position: relative;
            &.home{
              height: 57px;
            }
          }

          .sign {
            font-size: 20px;
            line-height: 25px;
            font-family: $font_300;
            font-weight: normal;
            @media (max-width: 1080px) {
              line-height: 35px;
            }
            @media (max-width: 768px) {
              font-size: 18px;
            }
          }

          .number {
            margin: 0 4px 0 5px;
            vertical-align: middle;
            position: relative;

            span {
              line-height: 33px;
              font-family: $font_700;
              font-size: 36px;
              @media (max-width: 1080px) {
                font-size: 30px;
              }
              @media (max-width: 768px) {
                font-size: 32px;
              }
            }
          }

          .disc {
            position: absolute;
            left: 0;
            bottom: 3px;
            font-family: $font_100;
            display: block;
            font-size: 16px;
            color: $color_base;
            width: 100px;
            text-align: left;
            &.home{
              max-width: 82px;
              width: 100%;
              display: flex;
              flex-direction: column;
              b{
                font-family: $font_500;
                font-size: 20px;
              }
            }
            @media (max-width: 1080px) {
              font-size: 13px !important;
            }

            b {
              font-family: $font_300;
            }
          }
        }

        .igv {
          display: block;
          font-family: $font_500;
          color: $color_red;
          margin-left: 4px;
          font-size: 12px;
          margin-right: 20px;
          flex-grow: 2;
          width: 24px;
          &.home{
            margin-right: 0 !important;
          }
          @media (max-width: 768px) {
            font-size: 12px;
            margin-right: 5px;
          }
        }

        &.interbank {
          .price {
            color: $color_interbank_secondary;
          }

          .igv {
            color: $color_interbank_secondary;
          }

          .disc {
            font-size: 15px;
            @media (max-width: 1080px) {
              text-align: left;
            }
          }

          .btn {
            background-color: $color_interbank;
            box-shadow: 0px 4px 4px rgba(32, 168, 83, 0.25);
            font-family: $font_300;
            text-align: center;
            color: white;
            font-size: 14px;

            &:hover {
              //background-color: rgba(236, 255, 234, 0.72) !important;
            }

            b {
              //display: block;
              @media (max-width: 768px) {
                display: inline;
              }
            }

            @media (max-width: 1200px) {
              font-size: 15px;
            }
            @media (max-width: 768px) {
              font-size: 15px;
            }
            @media (max-width: 320px) {
              padding: 16px 0px !important;
              font-size: 13px !important;
            }

            &:hover {
              //background-color: #ebfaff;
            }
          }
        }

        &.bbva {
          .price, .number {
            color: $color_bbva_secondary;
          }

          .igv {
            color: $color_bbva_secondary;
          }

          .disc {
            font-size: 15px;

            @media (max-width: 1080px) {
              text-align: left;
            }
          }

          .btn {
            font-size: 14px;
            font-family: $font_300;
            flex-direction: column;
            text-align: center;
            color: $color_white;
            background: $color_bbva;
            box-shadow: 0px 4px 4px rgba(26, 85, 155, 0.25);

            &:hover {
              //background-color: #ebfaff;
            }
          }
        }

        &.crediscotia{
          .price, .number {
            color: $color_crediscotia_secondary;
          }
          .igv{
            color: $color_crediscotia_secondary;
          }
          .disc{
            font-size: 15px;

            @media (max-width: 1080px){
              text-align: left;
            }
          }
          .btn{
            font-size: 14px;
            font-family: $font_300;
            flex-direction: column;
            text-align: center;
            color: $color_white;
            background: $color_crediscotia;
            box-shadow: 0px 4px 4px rgba(26, 85, 155, 0.25);
            &:hover{
              //background-color: #ebfaff;
            }
          }
        }
        &.bonus{

          position: relative;

          .price {
            color: #3D3D3D;
            max-width: 73px;
            width: 100%;
          }

          .igv {
            color: #3D3D3D;
            @media (max-width: 768px) {
              position: relative;
              display: block;
              flex-grow: inherit;
            }
          }

          .less {
            position: relative;
            left: 6px;
            right: 0;
            text-align: center;

            @media (max-width: 768px) {
              margin-left: 6px;
              margin-right: 0px;
            }
          }

          .points {
            border: 1px solid #21549d14;
            box-sizing: border-box;
            border-radius: 47px;
            background-color: transparent;
            color: #1A559B;
            max-width: 137px;
            width: 100%;
            min-height: 48px;
            text-align: center;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            min-width: 128px;

            p {
              margin: 0;
              font-family: $font_700;

              span {
                font-size: 14px;
              }

              span.number {
                font-size: 20px;
              }
            }
          }

        }
      }

      &__legal {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        @media (max-width: 768px) {
          width: 100%;
          max-width: 300px;
          margin: auto;
        }

        &__logo {
          margin-bottom: 12px;
          margin-top: 0px;

          img {
            height: 17px;
          }

          &.bonus {
            display: flex;
            align-items: center;

            img {
              height: 24px;
              margin-left: 3%;
            }
          }
        }

        &__text {
          font-size: 17px;
          font-family: $font_500;
          margin: 0;
          text-align: left;
          @media (max-width: 420px) {
            font-size: 15px !important;
          }
          span {
            margin-right: 3px;
            display: none;
            @media (max-width: 768px) {
              display: inline-block;
            }
          }

          &_new {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
          }

          @media (max-width: 768px) {
            display: inline-block;
            padding: 0px 0px;
            font-size: 15px;
          }
        }

        &__link {
          font-family: $font_300;
          display: block;
          font-size: 14px;
          color: #25579b;
          text-decoration: none;
          margin-top: 5px;
          margin-bottom: 12px;
        }

        &.interbanklegal {
          .product__legal__link {
            color: #08aa4a !important;
          }
        }

        &.bbvaLegal {
          .product__legal__link {
            color: #21A1D1 !important;
          }
        }
        &.crediscotiaLegal{
          .product__legal__link{
            color: #c22727 !important;
          }
        }
      }

      @media (max-width: 375px) {
        align-items: center;
      }
    }

    &.w-100 {
      width: 100%;
      //border-bottom: 1px solid #eeeeee;
      padding-bottom: 92px;
      @media (max-width: 768px) {
        padding-bottom: 95px;
      }
    }

    .slider {
      width: 100%;
    }

  }

  &.w-100 {
    width: 100%;
    //border-bottom: 1px solid #eeeeee;
    padding-bottom: 92px;
    @media (max-width: 768px) {
      padding-bottom: 95px;
    }
  }

  .mobileDash {
    opacity: 0.2;
    border: 1px solid #FB3348;
    margin: 50px -15px 70px;
    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .VueCarousel-navigation {
    .VueCarousel-navigation-prev, .VueCarousel-navigation-next {
      margin: 0;
      width: 20px;
      height: 26px;
      background-repeat: no-repeat;
      outline: none;
      background-position: center center;
      @media (max-width: 1024px) {
        padding: 0 !important;
      }
    }

    .VueCarousel-navigation-next {
      transform: rotate(180deg);
      transform-origin: 95% 27%;
    }

    button {
      outline: none !important;
    }
  }

  &.three {
    .w-100 {
      padding-bottom: 40px;
    }
  }
}

.accesories {
  .container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    border-bottom: 1px solid #eeeeee;
    @media (max-width: 980px) {
      flex-direction: column;
      text-align: center;
      margin: 30px 0px;
    }
  }

  &__container {
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin: 20px 0px;
    @media (max-width: 980px) {
      flex-direction: column;
      padding: 0;
      border: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 562px;
    margin-left: 35px;
    @media (max-width: 980px) {
      margin: 0;
    }
  }

  &__title {
    margin-top: 3em;
    margin-bottom: 2.6em;
    text-align: center;
    display: block;
    font-size: 32px;
    font-family: $font_500;
    font-weight: normal;

    span {
      font-family: $font_700;
      color: $color_green;
    }

    @media (max-width: 768px) {
      font-size: 21px;
    }
  }

  &__description {
    p {
      font-size: 18px;
      font-family: $font_300;
      font-weight: normal;
      line-height: 22px;
      margin: 9px 0px;

      span {
        color: $color_green;
      }

      @media (max-width: 768px) {
        font-size: 21px;
        margin: 25px 0px;
      }
    }

    @media (max-width: 768px) {
      padding: 0px 40px;
    }
  }

  &__subtitle {
    p {
      font-size: 24px;
      margin: 0;
      @media (max-width: 980px) {
        font-weight: bold;
        margin: 12px 0px;
      }
    }
  }

  &__price {
    .price {
      color: $color_red;
      height: 58px;
      position: relative;
      align-items: center;
      display: flex;
      width: 183px;
      @media (max-width: 980px) {
        margin: 14px auto;
        margin-bottom: 0;
      }

      .box {
        display: flex;
        align-items: flex-end;
      }

      .sign {
        font-size: 36px;
        line-height: 31px;
        font-family: $font_300;
        font-weight: normal;
        @media (max-width: 980px) {
          line-height: 35px;
        }
      }

      .number {
        margin: 0 10px 0 5px;
        vertical-align: middle;
        position: relative;

        span {
          line-height: 30px;
          font-family: $font_700;
          font-size: 36px;
        }
      }

      .disc {
        font-size: 16px;
        line-height: 19px;
        color: $color_light;
      }

      .igv {
        display: block;
        font-family: $font_500;
        color: $color_red;
        margin-left: 0;
        font-size: 12px;
        margin-right: 20px;
        flex-grow: 2;
        @media (max-width: 980px) {
          font-size: 11px;
          text-align: left;
          margin-left: 4px;
        }
      }
    }

    a {
      font-size: 14px;
      color: $color_green;
    }
  }

  &__imagen {
    @media (max-width: 980px) {
      width: 254px;
    }

    img {
      @media (min-width: 980px) {
        width: 178px;
      }
      @media (max-width: 980px) {
        width: 100%;
      }
    }
  }

  .btn {
    height: 48px;
    @media (max-width: 980px) {
      margin-top: 20px
    }

    &:hover {
      //background-color: $color_red;
      color: $color_white;
    }
  }
}

.discount {
  text-align: center;
  padding: 0 15px;
  text-align: center;

  h5 {
    color: $color_green;
    font-family: $font_700;
    font-size: 21px;
    margin-bottom: 0;
  }

  h6 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 22px;
    font-family: $font_500;
  }

  p {
    color: $color_light;
    font-size: 14px;
    font-family: $font_300;
    width: 100%;
    max-width: 296px;
    margin: 0 auto;
    display: block;
  }

  .btn {
    width: 200px;
    margin: 41px auto;
    display: block;
  }
}

.benefits {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 67px 15px;
    max-width: 1230px;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding: 60px 15px 30px;
    }
  }

  .divider {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
    width: auto;
  }

  &__title {
    font-size: 45px;
    font-family: $font_500;
    font-weight: normal;
    text-align: left;
    margin-top: -3px;
    line-height: 49px;
    letter-spacing: -2px;
    margin-right: 2em;
    width: 100%;
    max-width: 240px;
    @media (max-width: 1080px) {
      width: 200px;
      margin-right: 20px;
      font-size: 35px;
      line-height: 35px;
    }
    @media (max-width: 768px) {
      font-size: 21px;
      line-height: 21px;
      width: 100%;
      max-width: 177px;
      margin: 0 auto 20px;
      text-align: left;
    }

    b {
      font-family: $font_700;
      font-weight: normal;
      color: $color_green;
    }
  }

  .top_b {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content {
    padding-right: 4em;
    @media (max-width: 1300px) {
      overflow: hidden;
    }
    @media (max-width: 1080px) {
      padding-right: 0;
    }
    @media (max-width: 768px) {
      padding-right: 0;
    }

    .divider {
      margin-right: -6.5em;
      @media (max-width: 1300px) {
        margin-right: -80px;
      }
    }
  }

  &__properties {
    display: flex;
    flex-direction: column;
    @media (max-width: 1080px) {
      flex: 0 0 45%;
    }
    @media (max-width: 768px) {
      flex: auto;
    }

    .icon {
      img {
        width: 100%;
      }

      @media (max-width: 768px) {
        width: 50px;
      }
    }

    .text {
      font-family: $font_300;
      width: 100%;
      max-width: 245px;
      font-size: 17px;
      font-weight: 400;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 0;
      margin-left: 20px;
      @media (max-width: 1080px) {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        margin-right: 0;
        margin-top: 0;
        font-size: 16px;
      }

      b {
        font-family: $font_700;
        font-weight: normal;
      }
    }

    &--left {
      margin-right: 3em;
      @media (max-width: 1080px) {
        margin-right: 0;
      }
    }
  }

  &__property {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      align-items: center;
    }

    .icon {
      width: 80px;
      @media (max-width: 768px) {
        width: 40px;
      }

      img {
        width: 100%;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-left: 10px;
    @media (max-width: 768px) {
      justify-content: center;
      padding-top: 30px;
      margin-bottom: 30px;
    }

    .text {
      width: 100%;
      max-width: 520px;
      text-align: left;
      margin-left: 20px;

      span {
        font-size: 16px;
        font-family: $font_300;
        font-weight: normal;
        margin-bottom: 5PX;
        display: block;
        @media (max-width: 1080px) {
          font-size: 14px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
        }
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }

      p {
        margin: 0;
        font-size: 22px;
        font-family: $font_300;
        font-weight: normal;
        @media (max-width: 1080px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 16px;
        }
        @media (max-width: 320px) {
          font-size: 12px;
        }

        b {
          font-family: $font_700;
          font-weight: normal;
          color: #0055B8;
        }
      }
    }
  }
}

.calculator {
  .divider {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
    @media (max-width: 768px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__title {
    h4 {
      text-align: center;
      color: #4A4A4A;
      font-family: $font_500;
      font-size: 32px;
      line-height: 32px;
      font-weight: normal;
      margin-top: 30px;
      @media (max-width: 768px) {
        font-size: 21px;
        font-family: $font_500;
        color: $color_green;
        margin-top: 0;
      }
      @media (max-width: 320px) {
        font-size: 19px;
      }
    }
  }

  &__container {
    padding: 0 15px;
  }

  &__form {
    max-width: 665px;
    display: block;
    margin: 0 auto 5.5em;
    background: #F8FCFC;
    border-radius: 8px;
    padding: 68px 68px 34px 68px;
    @media (max-width: 768px) {
      padding: 20px;
      margin-bottom: 40px;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        color: #000;
        font-size: 16px;
        font-family: $font_300;

        &--small {
          font-size: 24px;
          font-family: $font_100;
        }

        span {
          font-size: 14px;
        }
      }

      .result {
        color: $color_green;
        font-family: $font_500;
        font-size: 16px;
        @media (max-width: 768px) {
          margin-bottom: 15px;
        }

        &--number {
          font-size: 24px;
        }
      }

      .referencial {
        font-size: 12px;
        font-family: $font_300;
        color: $color_light;
        display: block;
        text-align: left;
        width: 100%;
        margin-top: -15px;
        margin-bottom: 0;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }

  &__input {
    position: relative;
    padding-bottom: 1px;
    overflow: hidden;

    .edit {
      position: absolute;
      bottom: 15px;
      cursor: pointer;
      @media (max-width: 768px) {
        right: 0;
      }
    }

    input {
      border-top: none;
      border-left: none;
      border-bottom: 1px solid $color_light;
      border-right: none;
      background-color: transparent;
      text-align: right;
      font-size: 48px;
      font-weight: normal;
      line-height: 48px;
      color: #000;
      opacity: 0.3;
      font-family: $font_700;
      outline: none;
      width: 100%;
      max-width: 300px;
      @media (max-width: 768px) {
        text-align: center;
        font-family: $font_500;
        font-weight: normal;
      }
    }
  }
}

.footer {
  .container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: 768px) {
      padding: 0 30px;
    }
  }

  .top {
    overflow: hidden;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: flex-start;
      flex-direction: column;
    }

    .copy {
      font-size: 13px;
      text-align: left;
      color: $color_base;
      font-family: $font_300;
      @media (max-width: 768px) {
        text-align: center;
        border-bottom: 1px solid #efeaea;
        padding: 25px 15px;
        font-size: 11px;
      }
      @media (max-width: 340px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .terms {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        border-right: 1px solid #efeaea;
        padding-right: 25px;
      }
      @media (max-width: 340px) {
        padding-right: 13px;
      }

      small {
        font-size: 14px;
        font-family: $font_300;
      }

      .line {
        color: $color_light;
        margin: 0 0 0 30px;
      }

      a {
        color: $color_green;
        font-size: 14px;
        font-family: $font_300;
        margin-left: 30px;
        text-decoration: none;
        @media (max-width: 768px) {
          margin-left: 0;
          margin-bottom: 14px;
          font-size: 12px;
        }

        &:last-child {
          @media (max-width: 768px) {
            margin-bottom: 0;
          }
        }
      }

      .checkboxTerms {
        label {
          b {
            color: #555555;
            font-size: 15px;
            letter-spacing: -0.24px;
          }
        }
      }
    }

    .social {
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 35px;
      @media (max-width: 1080px) {
        padding-bottom: 25px;
      }
      @media (max-width: 768px) {
        padding-bottom: 15px;
      }

      p {
        color: $color_light;
        margin: 0;
        font-size: 16px;
        font-family: $font_300;
        margin-right: 5px;
      }

      a {
        margin: 0 10px;

        &:last-child {
          margin-right: 0;
        }

        @media (max-width: 768px) {
          background-color: #f3f3f3;
          width: 40px;
          height: 40px;
          text-align: center;
          &:last-child {
            margin-right: 0;

            img {
              margin-top: 13px;
            }
          }
          img {
            margin-top: 10px;
          }
        }
      }
    }

    .mobileContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__logo {
    float: left;
    margin-top: 20px;
  }

  &__nav {
    float: right;
    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;
    }

    &_top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      b {
        color: $color_green;
        font-size: 16px;
        font-weight: normal;
        font-family: $font_500;
        margin-right: 5px;
      }

      p {
        color: $color_light;
        font-size: 16px;
        font-family: $font_300;
        margin-bottom: 15px;
        letter-spacing: 1px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
        @media (max-width: 380px) {
          font-size: 14px;
        }
      }
    }

    &_bottom {
      margin-bottom: 28px;

      .footer__phone {
        display: inline-block;
        @media (max-width: 768px) {
          display: block;
          margin-bottom: 15px;
        }

        img {
          vertical-align: middle;
          display: inline-block;
          margin-right: 8px;
        }

        a {
          color: $color_red;
          font-family: $font_700;
          text-decoration: none;
          display: inline-block;
          vertical-align: middle;
          font-weight: normal;
          font-size: 20px;
          @media (max-width: 768px) {
            font-size: 18px;
          }

          span {
            font-family: $font_500;
            margin-left: 2px;
            font-weight: normal;
            font-size: 16px;
            color: $color_light;
            @media (max-width: 768px) {
              font-family: $font_300;
            }
          }
        }
      }
    }
  }
}

.modalLegalInterbank {
  .modal-container {
    padding: 20px 25px;
  }

  .body {
    padding: 20px 40px 60px;
    @media (max-width: 768px) {
      padding: 20px 0px 30px;
    }

    h5 {
      margin-top: 0;
      font-family: $font_500;
      color: $color_interbank;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      display: block;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    h6 {
      text-align: center;
      display: block;
      margin: 0 0 40px;
      font-size: 18px;
      color: $color_base;
      font-family: $font_300;
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    p {
      font-size: 15px;
      font-family: $font_100;

      a {
        color: $color_interbank;
      }

      b {
        font-family: $font_300;
      }
    }
  }
}

.modalLegalBbva {
  .modal-container {
    padding: 20px 25px;
  }

  .body {
    padding: 20px 40px 60px;
    @media (max-width: 768px) {
      padding: 20px 0px 30px;
    }

    h5 {
      margin-top: 0;
      font-family: $font_500;
      color: $color_bbva;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      display: block;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    h6 {
      text-align: center;
      display: block;
      margin: 0 0 40px;
      font-size: 18px;
      color: $color_base;
      font-family: $font_300;
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    p, li {
      font-size: 16px;
      font-family: $font_100;
    }
  }
}

.modalLegalCrediscotia{
  .modal-container{
    padding: 20px 25px;
  }
  .body{
    padding: 20px 40px 60px;
    @media (max-width: 768px){
      padding: 20px 0px 30px;
    }
    h5{
      margin-top: 0;
      font-family: $font_500;
      color: $color_crediscotia;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      display: block;
      @media (max-width: 768px){
        font-size: 15px;
      }
    }
    h6{
      text-align: center;
      display: block;
      margin: 0 0 40px;
      font-size: 18px;
      color: $color_base;
      font-family: $font_300;
      @media (max-width: 768px){
        font-size: 13px;
      }
    }
    p,li{
      font-size: 16px;
      font-family: $font_100;
    }
  }
}
.container{
  margin: 0 auto;
  max-width: 1230px;
}
.benefits{
  margin: 88px auto 0;
}
.weare{
  float: left;
  width: 100%;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 80px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h6{
    margin: 1.5rem 0rem;
  }
  &__content{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 3rem 1rem 1rem 0rem;
    justify-content: space-evenly;
    @media (max-width: 420px){
      flex-direction: column;
      padding: 0;
    }
    &--photo{
      max-width: 50%;
      width: 100%;
      text-align: center;
      padding: 2rem 1rem;
      @media (max-width: 420px){
        max-width: inherit;
        padding: 0;
      }
    }
    &--description{
      padding: 2rem 0rem;
      max-width: 500px;
      @media (max-width: 420px){
        padding: 2rem;
      }
    }
  }
}
.arrow_up{
  position: relative;
  right: 0;
  bottom: 179px;
  left: 0;
  text-align: right;
  width: 50px;
  float: right;
  margin-right: 13px;
}
